configuration {
  kb-row-up: "Up,Control+k";
  kb-row-down: "Down,Control+j";
  kb-accept-entry: "Return,KP_Enter,Control+l";
  kb-mode-next: "Shift+Right,Control+Tab,Control+h";
}
@theme "~/.config/rofi/glass.rasi"
